<%@ Control language="cs" AutoEventWireup="false" Explicit="True" Inherits="DotNetNuke.UI.Skins.Skin" %>

<!--#include file="Common/Common.ascx"-->

<div class="container">
<!--#include file="Common/ProfileLink.ascx"-->
<!--#include file="Common/Menu.ascx"-->
    <main class="maincontent">
	    <div id="ContentPane" runat="server"></div>
    </main>
</div>
