﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="StartPage.ascx.cs" Inherits="MBZMajlis.StartPage" %>
<%@ Register assembly="Telerik.Web.UI" namespace="Telerik.Web.UI" tagprefix="telerik" %>
